.wrap-circles-react {
  display: inline-block;
  /* min-height: 20vh; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1rem;
  /* background: #000; */
  width: 275px;
  border-radius: 25px;
}

.circle {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0.5rem;
  border-radius: 50%;
  background: #07447b;
  overflow: hidden;
}
.circle.per-react {
  background-image: conic-gradient(#07447b 75%, #ffffff 0);
  display: inherit;
}
.circle .inner-react {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 115px;
  background: rgb(214, 235, 242);
  border-radius: 50%;
  font-size: 2.35em;
  font-weight: bold;
  color: "black";
  
}